<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="studio.stressedout.audiosearch"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>


    <meta-data
        android:name="studio.stressedout.test.API_KEY"
        android:value="@string/test_api_key" />

</manifest>
